<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757136327951-9hkvaklhc08pdcc8lfi5vd53c8c61391.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757136327951-9hkvaklhc08pdcc8lfi5vd53c8c61391</string>
	<key>API_KEY</key>
	<string>AIzaSyDX000zOUB-F2qL4Wcf-pas3q3ThyHAOVc</string>
	<key>GCM_SENDER_ID</key>
	<string>757136327951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.helpapaw.helpapaw</string>
	<key>PROJECT_ID</key>
	<string>help-a-paw-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>help-a-paw-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757136327951:ios:1a56d4871b9a39fa0f2a7a</string>
</dict>
</plist>